
body {
    background-color: #000000;
    color: #81BD47;
    font-weight: bold;
}
.stSelectbox > div > div {
    background-color: #000000 !important;
    color: #81BD47 !important;
    border: 1px solid #D3D3D3 !important;
    border-radius: 8px !important;
    padding: 0.5rem 1rem !important;
}
[data-baseweb="menu"] {
    background-color: #000000 !important;
    color: #81BD47 !important;
    border: 1px solid #D3D3D3 !important;
}
